*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
<<<<<<< HEAD
    font-family: Arial, Helvetica, sans-serif;
=======
>>>>>>> 4dc443f (initial)
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    background-color: black;
<<<<<<< HEAD
   
}
#nav{
    background-color: rgb(57, 56, 56);
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;

}
#nav a{
    color: white;
    text-decoration: none;
    font-size: 22px;
    font-weight: 300;
  
=======
}
#car1{
    height: 300px;
    width: 350px;
    background-color: blueviolet;
}
#car2{
    height: 300px;
    width: 350px;
    background-color: brown;
}
#car1{
    height: 300px;
    width: 350px;
    background-color: chocolate;
>>>>>>> 4dc443f (initial)
}